ingredients/
ingredients_label_data/
database_columns
mysql.py
nutrition_facts.csv
scrape.ipynb
Untitled.ipynb
healthkart-catelogging-f5f83b608349.json
__pycache__
demo.ipynb
data/
nlp_demo.ipynb
demo_data/

